# React 및 프론트엔드 관련 패키지
django-cors-headers==4.4.0  # CORS 설정을 위해 필요한 패키지
djangorestframework==3.14.0  # Django REST framework, 백엔드 API를 위한 필수 패키지

# 추가적으로 필요할 수 있는 기타 패키지
certifi==2023.5.7  # SSL 인증서 확인을 위해 필요한 패키지
idna==3.4  # 유니코드 도메인 네임을 지원하기 위한 패키지
charset-normalizer==2.0.12  # 인코딩 관련 패키지
urllib3==1.26.14  # HTTP 클라이언트
requests==2.28.1  # HTTP 요청을 보내기 위한 패키지

# 필요한 Django 패키지
Django==4.2.3  # Django 메인 패키지
asgiref==3.7.2  # Django 비동기 지원을 위한 패키지

# JWT 인증을 위해 필요한 패키지
PyJWT==2.4.0  # JSON Web Token 패키지